*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
nav{
    width: 100%;
    height: 45px;
    background-color: #333333;
    position: fixed;
}
nav ul{
    float: right;
    padding: 10px;
    
}
nav ul li{
    
    display: inline-block;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    margin: 10px;
}
.casion{
    background-color: #333333;
    color: #fff;
    height: 65vh;
}

.casion h2{
    position: relative;
    top:-45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; /*optional*/
    font-size: 90px;
}

.casion img{
    width: 100%;
    height: 65vh;
}

.content{
    height: auto;
    padding: 50px 10%;
    text-align: center;
}


html{
    scroll-behavior: smooth;
}